$font-family: 'Roboto', sans-serif;

/* 
 * Customize Bootstrap
*/

// Colors
$background: rgb(3, 90, 166);
$title-color: #120136;
$black: #191919;
$call-to-action: rgb(252, 191, 30);
$white: #ffffff;

// Typography
$font-family-base: $font-family;

// Grid
$grid-columns: 12;
$grid-gutter-width: 64px;